#outside-box{
	height: 300px;
	width: 300px;
	background-color: green;
	text-align: center;
	top: 20px;
	position: relative;
	left: 20px;
}

#middle-box{
	height: 200px;
	width: 200px;
	background-color: black;
	margin: auto;
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 0;
}

#inside-box{
	height: 100px;
	width: 100px;
	background-color: red;
	margin:  auto;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}